<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manifiesto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Manifiesto</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- content -->
    <h1>Manifiesto por el Desarrollo Ágil de Software</h1>
    <h2>Los 12 Principios del Manifiesto Ágil</h2>
    <p class="principles">Nuestra mayor prioridad es satisfacer al cliente
    mediante la entrega temprana y continua de software
    con valor.</p>
    
    <p class="principles">Aceptamos que los requisitos cambien, incluso en etapas
    tardías del desarrollo. Los procesos Ágiles aprovechan
    el cambio para proporcionar ventaja competitiva al
    cliente.</p>
    
    <p class="principles">Entregamos software funcional frecuentemente, entre dos
    semanas y dos meses, con preferencia al periodo de
    tiempo más corto posible.</p>
    
    <p class="principles">Los responsables de negocio y los desarrolladores
    trabajamos juntos de forma cotidiana durante todo
    el proyecto.</p>
    
    <p class="principles">Los proyectos se desarrollan en torno a individuos
    motivados. Hay que darles el entorno y el apoyo que
    necesitan, y confiarles la ejecución del trabajo.</p>
    
    <p class="principles">El método más eficiente y efectivo de comunicar
    información al equipo de desarrollo y entre sus
    miembros es la conversación cara a cara.</p>
    
    <p class="principles">El software funcionando es la medida principal de
    progreso.</p>
    
    <p class="principles">Los procesos Ágiles promueven el desarrollo
    sostenible. Los promotores, desarrolladores y usuarios
    debemos ser capaces de mantener un ritmo constante
    de forma indefinida.</p>
    
    <p class="principles">La atención continua a la excelencia técnica y al
    buen diseño mejora la Agilidad.</p>
    
    <p class="principles">La simplicidad, o el arte de maximizar la cantidad de
    trabajo no realizado, es esencial.</p>
    
    <p class="principles">Las mejores arquitecturas, requisitos y diseños
    emergen de equipos auto-organizados.</p>
    
    <p class="principles">A intervalos regulares el equipo reflexiona sobre
    cómo ser más efectivo para a continuación ajustar y
    perfeccionar su comportamiento en consecuencia. </p>

    <h2>Los 4 valores</h2>

    <p>A través de este trabajo hemos
      aprendido a valorar:</p>

    <p class="principles"><b>Individuos e interacciones</b> sobre procesos y herramientas</p>
    <p class="principles"><b>Software funcionando</b> sobre documentación extensiva</p>
    <p class="principles"><b>Colaboración con el cliente</b> sobre negociación contractual</p>
    <p class="principles"><b>Respuesta ante el cambio</b> sobre seguir un plan</p>

    <p>Esto es, aunque valoramos los elementos de la derecha,
      valoramos más los de la izquierda.</p>

    <!-- end content -->
  </div>
</ion-content>