<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>controller</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">controller</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1 class="title">Controladores</h1>

    <h1>Controlador</h1>

    <p>Para definir una clase como controlador debe tener una serie de anotaciones que son las siguientes:</p>

    <ul>
      <li><b>@RestController:</b> Esta anotación es propia de Spring Framework, se encuentra en el paquete org.springframework.web.bind.annotation.RestController y sirve para registrar la clase como controlador, en la dirección indicada en la anotacion @RequestMapping.</li>
      <li><b>@RequestMapping:</b> Esta anotación es propia de Spring Framework, se encuentra en el paquete org.springframework.web.bind.annotation.RequestMapping y sirve para definir la dirección para acceder al controlador.</li>
    </ul>

    <p>Una vez definidas las anotaciones anteriores la clase ya funcionará como un controlador, adicionalmente se le pueden añadir más anotaciones con distintas funcionalidades como las siguientes:</p>

    <h2>Anotaciones propias de Spring Framework</h2>

    <ul>
      <li><b>@CrossOrigin:</b> Esta anotación es propia de Spring Framework, se encuentra en el paquete org.springframework.web.bind.annotation.CrossOrigin.<br>
        Por defecto springboot bloquea los intentos de acceso a los controladores a no ser que se permitan esos accesos específicamente, para permitir dichos accesos se utiliza la anotacion @CrossOrigin. 
        Si la anotación se pone sobre la definición de una clase se podrá acceder desde cualquier dirección a todos los métodos de la clase, si se coloca sobre un método se podrá acceder desde cualquier dirección a ese método. <br> 
        También se puede especificar que solo se pueda acceder a un método o a todos los métodos de la clase desde una dirección en concreto (por ejemplo desde la dirección desde donde esté servido el front-end, 
        de esta manera solo dicho front-end podrá acceder al controlador) especificándolo de la siguiente manera: @CrossOrigin(origin="http://dominio-permitido.com")
      </li>

    </ul>

    <h2>Anotaciones para documentación Swagger con la librería SpringFox</h2>

    <ul>
      <li><b>@Api:</b> Esta anotación pertenece a SpringFox Framework, se encuentra en el paquete io.swagger.annotations.Api y sirve para documentar lo que hace un controlador y que posteriormente se muestre en el Swagger ui si el proyecto está correctamente configurado para ello</li>

      <li><b>@ApiResponses:</b> Esta anotación pertenece a SpringFox Framework, se encuentra en el paquete io.swagger.annotations.ApiResponses y sirve para documentar las posibles respuestas que puede devolver un controlador o un método del controlador. Cada posible respuesta se definirá mediante la anotación @ApiResponse. <br>
        Dicha documentación podrá mostrarse posteriormente en Swagger ui.
      </li>

      <li><b>@ApiResponse:</b> Esta anotación pertenece a SpringFox Framework, se encuentra en el paquete io.swagger.annotations.ApiResponse y sirve para especificar como va a ser una respuesta de las que se estén documentando con la anotación @ApiResponses</li>
    </ul>

    <h2>Ejemplo:</h2>


    <div class="center-horizontal">
    <pre><code class="language-java">
    @RestController
    @RequestMapping("/petshop/pet")
    @CrossOrigin
    @Api(tags = "Pet")
    @ApiResponses({{'{'}} @ApiResponse(code = 200, message = "OK", response = PetDTO.class),
        @ApiResponse(code = 201, message = "Created"),
        @ApiResponse(code = 204, message = "No content")
        @ApiResponse(code = 400, message = "Bad Request"),
        @ApiResponse(code = 404, message = "Not found"), 
        @ApiResponse(code = 500, message = "Internal server error") {{'}'}})
    public class PetController 
    {{'{'}}
      //...Controller global attributes
      //...Controller methods
    {{'}'}}	
    </code></pre>	
    </div>

    <h1>Atributos globales del controlador</h1>

    <h2>Anotaciones pertenecientes a Spring Framework</h2>

    <ul>
      <li><b>@Autowired:</b> Esta anotación pertenece a Spring Framework, se encuentra en el paquete org.springframework.beans.factory.annotation.Autowired y sirve para inyectar una dependencia.
        En Spring algunas clases pueden ser declaradas como Spring Beans utilizando las anotaciones @Component, @Controller, @Service o @Repository entre otras, cuando se arranca una aplicación de Spring,
        el contenedor de Spring busca las Spring Beans y crea una instancia de ellas como objeto singleton y estas instancias posteriormente se pueden inyectar utilizando la anotación @Autowired.
        Solo se puede inyectar dependencias dentro de un Spring Bean. <br>
        Esta anotación se puede utilizar sobre un atributo de la clase, sobre un método o sobre el constructor. Se recomienda hacer la inyección de dependencias mediante constructor en lugar de sobre atributos.
        A partir de la versión 4.3 de Spring Framework, ya no es necesario utilizar la anotación autowired cuando se inyecta mediante constructor, se hace automáticamente.
      </li>

      <li><b>@Qualifier:</b> Esta anotación pertenece a Spring Framework, se encuentra en el paquete org.springframework.beans.factory.annotation.Qualifier y sirve especificar qué dependencia se quiere inyectar
        cuando el tipo de la dependencia es ambiguo y hay dos posibles dependencias a inyectar con el mismo tipo.
      </li>
    </ul>

    <h2>Ejemplo:</h2>

    <div class="center-horizontal">
    <pre><code class="language-java">
    //...Other annotations
    @RestController
    public class PetController
    {{'{'}}
      private static final Logger LOGGER = LoggerFactory.getLogger(PetController.class);

      @Autowired
      private final PetService petService;

      @Autowired
      @Qualifier("modelMapper")
      private final ModelMapper mapper;

      @Autowired
      @Qualifier("patchModelMapper")
      private final ModelMapper patchMapper;

      //...Controller methods
    {{'}'}}
    </code></pre>

